.error-text {
    color: "red";
}
/* THis is SOOOooOO silly */
.extend-under-navbar {
    padding-top: 60px;
}

.custom-lead {
    margin: 22px 22px 22px 10px;
    text-align:"right";
}

.gif-load {
    margin: 2px;
    height: 30px;
    display: "inline-block";
    position: "absolute";
}

.custom-card-display {
    padding: 3px 3px 3px 3px;
    text-align: "center";
}

.custom-text {
    text-align: "center";
}

.custom-footer {
    background-color: #81ba4c;
    border-style: "solid";
    border-color: "coral";
    border-width: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100;
}

.custom-footer-text {
    color: "yellow";
    text-shadow:20px 10px 15px crimson;
    font-size: 30px;
}

.freaky-bug {
    display: "flex";
    height: 50px;
    box-shadow: 20px 10px 15px crimson;
}